@import "common/vars";

html, body {
	height: 100%;
}

div.base {
	height: 100%
}

#experiment {
	height: 100%;

	svg {

	}
}

#status {
	height: 100%;
}

#commandline {
	width: 100%;
	border: none;
}