Reminder: MRI Scan <tscan_short>
Hi <name>,

Just a reminder that you are scheduled for a two hour scanning session <tscan_long>.

If something comes up please call me before your scheduled time at either 603-646-0155 (the scanner room) or 347-451-6959 (my cell).

See you then!
Alex
